flows.json
[{"id":"a4b58694.dd7a08","type":"tab","label":"Heart Failure Prediction","disabled":false,"info":""},{"id":"21769e48.4b87b2","type":"function","z":"a4b58694.dd7a08","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\n\nvar apikey=\"0Hp3O4JtBsMqoxcmq47bELX09GqoUCEHHrUM74IAP64A\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":140,"wires":[["1775fa.9dce3a06"]]},{"id":"1775fa.9dce3a06","type":"http request","z":"a4b58694.dd7a08","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":220,"wires":[["c1b55bc1.e78c38","34bd01eb.09e15e"]]},{"id":"c1b55bc1.e78c38","type":"debug","z":"a4b58694.dd7a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":300,"wires":[]},{"id":"34bd01eb.09e15e","type":"function","z":"a4b58694.dd7a08","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[["119647ca.2b3888"]]},{"id":"119647ca.2b3888","type":"http request","z":"a4b58694.dd7a08","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/a55baaef-a0d1-4b01-9d6b-81e041aaddd1/predictions?version=2021-07-26","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":180,"wires":[["750758a0.e310c8","3cbb3720.1d3b78","7a3f7170.c6936"]]},{"id":"750758a0.e310c8","type":"debug","z":"a4b58694.dd7a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"5a3e627e.04601c","type":"inject","z":"a4b58694.dd7a08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["21769e48.4b87b2"]]},{"id":"3cbb3720.1d3b78","type":"function","z":"a4b58694.dd7a08","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = 'Not at Risk';\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = 'At Risk';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":80,"wires":[["ecc83872.c85c08"]]},{"id":"ecc83872.c85c08","type":"ui_text","z":"a4b58694.dd7a08","group":"80c2766c.ace4c8","order":2,"width":8,"height":4,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":720,"y":200,"wires":[]},{"id":"df6f8738.fbce68","type":"ui_form","z":"a4b58694.dd7a08","name":"","label":"","group":"80c2766c.ace4c8","order":1,"width":9,"height":10,"options":[{"label":"AVERAGE HEART BEATS ( Per Minute )","value":"hb","type":"number","required":true,"rows":null},{"label":" PALPITATIONS PER DAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX (M or F)","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y or N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER ( In Last 5 Years : Y or N )","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE ( Minutes Per Week )","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"x":110,"y":220,"wires":[["21769e48.4b87b2"]]},{"id":"7a3f7170.c6936","type":"function","z":"a4b58694.dd7a08","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][0]\n       \n    }\nelse \n    {\n        msg.paylaod = msg.payload.predictions[0].values[0][1][1]\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":300,"wires":[["750758a0.e310c8"]]},{"id":"80c2766c.ace4c8","type":"ui_group","name":"HEART FAILURE PREDICTION","tab":"547fcc14.7f90b4","order":1,"disp":true,"width":"17","collapse":false},{"id":"547fcc14.7f90b4","type":"ui_tab","z":"a4b58694.dd7a08","name":"HEART FAILURE PREDICTION","icon":"dashboard","disabled":false,"hidden":false}]